
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
}

.container {
  background-image: radial-gradient(circle, #000000 60%, coral 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  margin: 0;
 padding: 0;
 color:#00CCFF;
 
}

.clock {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #99CCFF;
  border-radius: 10%;
  color: #FFFFFF;
  display: flex;
  font-size: 150px;
  justify-content: center;
  height: 350px;
  width: 700px;
}